html,
body {
    margin: 0;
    margin-bottom:50px;
}
.label,.glyphicon { margin-right:5px; }

#auto-height{
	height:auto;
}

input.searchNav{
	padding: 3px;
    margin-top: 2px;
    margin-bottom: -10px;
}

input.searchNav{
	padding: 3px;
    margin-top: 2px;
    margin-bottom: -10px;
}

.searchButton>button{
	margin-top:6px;
	margin-bottom:-8px;
}

h1,h2,h3,h4,h5,h6,p,a{
	color:#151515;
}

.errorLogin{
	color:red;
}

.navbar{
	margin-bottom:0px;
}


/*Sign Up*/

#signUpForm{
    visibility:hidden;
}

#signUpForm>h1{
    text-align:center;
    font-size:210%;
}

#signUpForm>form{
    margin-left: 10%;
}

#signUpForm>form>table{
    min-height:200px;
}

/* Log In */

#logIn{
    background-color:white;
    position:absolute;
    margin-left:35%;
    height:55%;
    top:18%;
    width:27%;
    visibility:visible;
}

.exit{
    margin-left:95%;
    margin-top:1%;
    position:absolute;
}

#logIn>h1{
    text-align:center;
    font-size:210%;
}

#logIn>form{
    margin-left: 10%;
}

#logIn>form>table{
    min-height:200px;
}

/* Title Home Category */
.typeHome>h1{
	font-size:3vw;
    margin-top:1vw;
}


/*Settings*/

#settings{
    background-color:white;
    visibility:visible;
    margin-left:35%;
    height:55%;
    top:18%;
    width:27%;
}

#settings>h1{
    text-align:center;
    font-size:210%;
}

#settings>form{
    margin-left: 10%;
}

#settings>form>table{
    min-height:200px;
}
