html,
body {
    margin: 0;
    height: auto;
    margin-bottom:50px;
    height: 100%;
}
.label,.glyphicon { margin-right:5px; }

.backimg{
	background: url(../img/book3.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height:calc(100% - 55px);
}

#auto-height{
	height:auto;
}

input.searchNav{
	padding: 3px;
    margin-top: 2px;
    margin-bottom: -10px;
}

input.searchNav{
	padding: 3px;
    margin-top: 2px;
    margin-bottom: -10px;
}

.searchButton>button{
	margin-top:6px;
	margin-bottom:-8px;
}

h1,h2,h3,h4,h5,h6,p,a{
	color:#151515;
}

.errorLogin{
	color:red;
}

.navbar{
	margin-bottom:0px;
}


/*Sign Up*/

#signUpForm{
    background-color:transparent;
    margin-left:20%;
    height:auto;
    width:60%;
    visibility:hidden;
    overflow:hidden;
    height:0;
}

#signUpForm>h1{
    text-align:center;
    font-size:210%;
}

#signUpForm>form{
    margin-left: 10%;
}

#signUpForm>form>table{
    min-height:200px;
}

@media (max-width: 600px){
    #signUpForm{
		margin-left:0%;
		width:80%;
    }
  }

/* Log In */

#logIn{
    background-color:transparent;
    margin-left:20%;
    height:auto;
    /* Firefox */
	height: -moz-calc(18% - 80px);
	/* WebKit */
	height: -webkit-calc(18% - 80px);
	/* Opera */
	height: -o-calc(18% - 80px);
	/* Standard */
	height: calc(18% - 80px);
    width:60%;
    visibility:visible;
    overflow:auto;
}

@media (max-width: 600px){
    #logIn{
		margin-left:0%;
		width:80%;
    }
  }

.exit{
    margin-left:95%;
    margin-top:1%;
    position:absolute;
}

#logIn>h1{
    text-align:center;
    font-size:210%;
}

#logIn>form{
    margin-left: 10%;
}

#logIn>form>table{
    min-height:200px;
}

/* Title Home Category */
.typeHome>h1{
	font-size:3vw;
    margin-top:1vw;
}


/*Settings*/

#settings{
    background-color:transparent;
    visibility:visible;
    margin-left:20%;
    height:auto;
    width:60%;
}

#settings>h1{
    text-align:center;
    font-size:210%;
}

#settings>form{
    margin-left: 10%;
}

#settings>form>table{
    min-height:200px;
}
@media (max-width: 600px){
    #settings{
		margin-left:0%;
		width:80%;
    }
  }
