html,
body {
    margin: 0;
    margin-bottom:50px;
}
.label,.glyphicon { margin-right:5px; }

#auto-height{
	height:auto;
}

input.searchNav{
	padding: 3px;
    margin-top: 2px;
    margin-bottom: -10px;
}

input.searchNav{
	padding: 3px;
    margin-top: 2px;
    margin-bottom: -10px;
}

.searchButton>button{
	margin-top:6px;
	margin-bottom:-8px;
}

h1,h2,h3,h4,h5,h6,p,a{
	color:#151515;
}

.errorLogin{
	color:red;
}
