
.slideshow{
	width:100vw;
	max-height:37vw;
	display:block;
	overflow:hidden;
}

.slideshow>img{
	width:100vw;
	height:50vw;
}


/*Home*/

.content{
	width:74vw;
	margin-left:13vw;
	margin-right:13vw;
	margin-bottom:2vw;
}

/* Books */

.book-content{
	cursor:pointer;
	display:block;
	max-height:20vw;
	margin-bottom:1vw;
	margin-top:1vw;
	overflow:hidden;
	width:74vw;
}

.separation-line{
	border-bottom: 0.1vw solid #ccc;
	margin-bottom:2vw;
	margin-top:2vw;
}

.cover{
	float:left;
	height:25vw;
	width:20vw;
}

/* Prova con max-height/max-width*/
.cover>img{	
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:20vw;
	width:15vw;
}

.description>h3{
	font-size:2.3vw;
}

.description>p{
	font-size:1.6vw;
	max-height:20vw;
	overflow:hidden;
}


/* Categories */
.categories{
	margin-bottom:2vw;
	margin-top:2vw;
	width:74vw;
}

.category{
	float:left;
	height:18vw;
	margin-bottom:2vw;
	width:14vw;
}


.category>a>img{
	margin-left:auto;
	margin-right:auto;
	height:18vw;
	width:14vw;
	
}