.col-md-2, .col-md-10{
    padding:0;
}
.panel{
    margin-bottom: 0px;

}
.chat-window{
    bottom:0;
    margin-left:5%;
    margin-top:30px;
}

@media (max-width: 600px){
	.chat-window{
		margin-left:5px;
		margin-right:5px;
	}
}

.my-comment{
	font-size:40px;
}

@media (max-width: 500px){
	.chat-window{
		margin-top:10px;
		max-height: calc(100% - 159px);
	}
	
	chat_with{
		display:none;
	}
	
	.my-comment{
		font-size: 30px;
	}
}

.msg_container_base{
  background: rgba(228, 251, 230, 0.35);
  margin: 0;
  padding: 0 10px 10px;
  max-height: 600px;
  overflow-x:hidden;
  
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-bottom-left-radius: 12px; 
  -webkit-border-bottom-right-radius: 12px; 
  /* Firefox 1-3.6 */
  -moz-border-bottom-left-radius: 12px; 
  -moz-border-bottom-right-radius: 12px; 
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-bottom-left-radius: 12px; 
  border-bottom-right-radius: 12px; 
}

.msg_receive{
    padding-left:0;
    margin-left:0;
    word-wrap: break-word;
}
.msg_sent{
    padding-bottom:20px !important;
    margin-right:0;
    word-wrap: break-word;
}
.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  width:100%;
}
.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
  }
.messages > time {
    font-size: 11px;
    color: #ccc;
    margin-right:8px;
    margin-left:8px;
}
.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}

@media (max-width: 600px){
	.msg_container {
		margin-left:5px;
		margin-right:5px;
		display:block;
		padding-left:3px;
		padding-right:3px;
	}
}
.img-profile {
    display: block;
	width:100px;
	height:100px;
}

@media (max-width: 600px){
	.img-profile{
		display: none;
		visibility: hidden;
		width:0px;
		height:0px;
	}
	
	.col-xs-2{
		width:0px;
	}
	
	
}

.base_sent {
  justify-content: flex-end;
  align-items: flex-end;
}

.message-body{
	padding-right: 5px;
	padding-left: 5px;
}

.msg_sent > time{
    float: right;
}

.msg_container_base::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}


.panel-footer{
  margin: 0;
  padding-top: 20px;
  padding-right: 5px;
  padding-left:5px;
  background-color: #d9f7d9 !important;
}

@media (max-width: 500px){
	.panel-footer{
		padding-bottom: 60px;
	}
}

.input-group-send{
	display:flex;
	float:right;
    max-width: 100px;
}

@media (max-width: 500px){
	.input-group-send{
		display:block;
		float:left;
	}
}

.btn-send{
	background-color: #8cbf8c;
    background-image: -webkit-linear-gradient(top, #aabf8c 0%, #4c9551 50%, #418f36 50%, #5a913d 100%);
   
    border: 1px solid #1d9222;
    border-bottom: 1px solid #175b05;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 0 #b1cbb2;
    color: #fff;
    font: bold 16px/1 "helvetica neue", helvetica, arial, sans-serif;
    text-decoration: none;
    text-align: center;
}

.chat_input{
	width: calc(100% - 120px);
}

@media (max-width: 500px){
	.chat_input{
		width: calc(100% - 10px);
	}
}


.message-body{
	overflow-x: auto;

}

.chatView{
	margin-top:40px;
}

.floatRight{
	float:right;
}

.minHeightChat{
	min-height:370px;
}

.messageReceived{
	max-width:60%;
	float:left;
	padding-left:20px;
}

.messageSent{
	max-width:60%;
	float:right;
	padding-right:20px;
}
