@media only screen and (max-width: 1025px){

    .block-service.block-service-opt .item{text-align:center;}
    .block-service.block-service-opt .item .simbol-ft, .block-service.block-service-opt .item .simbol-desc{width:100%}

    .block-service.block-service-opt .col-md-3{width:50%;margin-bottom:10px;float:left;}
    /*Footer - 2*/
    .home5 .block-service-opt .item .simbol-ft{position:relative;bottom:0;}

}
@media only screen and (max-width: 1000px){

	.my-container{
		padding-right: 10px;
	}

     .mainmenu ul{
		float:right;
		padding-right: 20px;
		background-color: white;
     }
     
     .submenu ul{
		padding-right: 10px;
	}
	
     .mainmenu ul li{float:left}
     .mainmenu ul li a{margin:0 8px;}
     .mainmenu ul li:last-child a{margin:0;}
   
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header{
        float:right;
    }
    
    .container{
		width: auto;
	}

    /*Mini Menu*/
    .content-logo{width:100%;float:left;}
    .content-logo h2{float:left;}
    .navbar-toggle{
        border:0; 
        margin-right:60px;
        padding: 6px 10px;
        margin-top: 40px;
    }
	
    .nav>li>a:focus, .nav>li>a:hover{background-color:#fff;}
    .navbar-collapse{
		padding:0;
    }
    
    .navbar-toggle .icon-bar {
        background-color: #333;
    }
    .navigation-menu .mainmenu {
        text-align: right;
        width: 100%;
        float: left;
    }
    .mainmenu ul li {
        display: block;
        text-align: left;
    }
    .mega-menu {
        float: left;
        width: 100%;
    }
    .mega-menu{transform: scaleY(0);}
    .expand:hover, .exp-mega:hover .mega-menu {
      opacity: 0;
      transform: scaleY(0);
      z-index: 9999;
    }
    mainmenu .exp-mega:hover .mega-menu{opacity:0;transform:scaleY(0);}

    .expand.open-submenu, .mainmenu .exp-mega.open-submenu .mega-menu{
      position:relative;
      opacity: 1;
      transform: scaleY(1);
      z-index: 9999;
    }
    .mainmenu ul li a{padding:0;}
    .mainmenu ul li ul.sub-menu{width:100%;}
    .mega-menu{left:0;width:100%;}
    .mainmenu ul li .mega-menu span.mega-menu-img {display:none;}
    
    .mainmenu ul.menu-first-level {
        width: 100%;
        float: left;
        margin-bottom: 30px;
    }
    .mega-menu span{width:33.3%;}
    /*End Mini Menu*/
	
	
    /*Products*/
    .img-man{width:50%;}
    .price-range .content-filter-price .search-btn .btn{margin-top:20px;float:right;}
    .price-range .content-filter-price input{ width:50px; margin-right:3%; }
    .price-range .content-filter-price .inp-price span{width:5%;}
    .special-offers .list-offers-column ul li{width:25%;float:left;}
    .special-offers h3.offers-book-title{margin-top:15px;}
    .panel-info-full,.service-banner{float:left;width:100%;}
    .flexslider .slides img{margin:0 auto;width:40%;}
    .box-blog{width:100%;float:left;}
    .price-range .content-filter-price .data-price{padding-right:0}

    /*Products List*/
    .grid-product .my-shop-animation {width:100%;}
    .grid-product .box-list-prod{width:27%;float:left;}
    .grid-product .book-desc{width:70%;float:left;}

    /*Orders*/
    .cart-column-img{width:40%;}
    .content-table-cart{padding:0 15px;}

    /*Product Details*/
    
    .page-details-product .list-product{width:100%;float:left;}
    .page-details-product .list-product .box-desc-detail{float:left;width:65%;}
    .page-details-product .list-product .detail-box-desc{width:100%;float:left;}
    .page-details-product .list-product .detail-box-desc {
        -webkit-transform: translateY(0px) rotate(0deg);
        -moz-transform: translateY(0px) rotate(0deg);
        -ms-transform: translateY(0px) rotate(0deg);
        -o-transform: translateY(0px) rotate(0deg);
        transform: translateY(0px) rotate(0deg);
    }
	

    .my-shop-animation {
        padding: 0 8px;
        width: 33.3%;
        float: left;
    }
   
    #footer .box-info{text-align:center;}
    #footer .box-info .box-info-footer i{margin:15px 0 25px 0;}
        
}

@media only screen and (max-width: 991px){
	.filter-button{
		visibility: visible;
	}
	.filter-big{
		visibility: hidden;
		display:none;
	}

	.filter-small{
		visibility: visible;
		display:block;
	}

}

@media only screen and (max-width: 850px) {

	.info-big{
		display: none;
	}
	
	.info-box{
		width: 100%;
	}
}


@media only screen and (max-width: 750px) {
    .info-book-div {width: 100%;}
    
    .btn-book{
		margin-bottom: 20px;
		margin-right: 20px !important;
	}
    
}

@media only screen and (max-width: 500px) {

    .item{font-size:26px;}
    .item .title{font-size:36px;}
    .item {padding-right:10px;}

    .mega-menu span{width:100%}
    .mainmenu{padding:0;}
    .my-shop-animation {width: 50%;}
    
	
	 /*Product List*/
    .grid-product .box-list-prod {width: 100%;float: left;padding-left:15px;}
    .grid-product .book-desc{width:100%;}
    .grid-product .box-prod:hover .book-cover-shadow{
                width:92%;
                height:100%;
                position:absolute;
    }
    
}

@media only screen and (max-width: 400px) {
    .block-service.block-service-opt .col-md-3{width:100%;}
   
    .navbar-toggle{margin-top: 30px;}
    /*Products*/
    #dataMix .my-shop-animation{height:340px;}

    /*Products List*/
    #dataMix.grid-product .my-shop-animation{height:auto;}
    .grid-product .box-prod:hover .book-cover-shadow{width:91%;}

    /*Product Details*/
    .page-details-product .service-banner .flexslider{padding:20px 15px;}
    
}

@media only screen and (max-width: 420px) {
    .content-logo h2{
		font-size: 50px;
    }
}


@media only screen and (max-width: 400px) {
    .content-logo h2{
		font-size: 40px;
    }
}


@media only screen and (max-width: 370px) {

    .item{height:450px;}
	.item{padding-top:110px;}
    .item{font-size:26px;}
	/*Products*/
    #dataMix .my-shop-animation{height:340px;}

    /*Products List*/
    #dataMix.grid-product .my-shop-animation{height:auto;}
    .grid-product .box-prod:hover .book-cover-shadow{width:91%;}

    /*Product Details*/
    .page-details-product .service-banner .flexslider{padding:20px 15px;}
}